# Modular Code

![](images/legos.jpg)

# What's Modularity?

- Building our code in discrete, clearly separated chunks
- So we can...
  - **Modify one piece** without breaking the others
  - **Combine pieces** in different ways, as we need them

Often, modularity implies breaking our code down into different **functions** which live in different **modules**.

<div class="admonition note alert alert-info">
<p class="first admonition-title" style="font-weight: bold;"><b>Note</b></p>
    <p class="last">Generally, a <em>module</em> in Python is just a file that ends in <code>.py</code></p>
</div>

## How do we achieve modularity in Python?
- Move code chunks into their own **functions**
- Move functions into their own **files**

## Example
In the last section, we imported some data from a CSV, kept just its numeric columns, and separated the target from the features...

In [14]:
import numpy as np
import pandas as pd

adult_census = pd.read_csv("../data/adult-census.csv")

# create column names of interest
target_col = "class"

raw_features = adult_census.drop(columns=target_col)
numeric_features = raw_features.select_dtypes(np.number)
feature_cols = numeric_features.columns.values

features = adult_census[feature_cols]
target = adult_census[target_col]

This is a lot of code though, and we might want to do this again in the future **with different data sets**.

That makes it a perfect case to be its own function.

In [15]:
def get_features_and_target():
    '''Split a CSV into a DF of numeric features and a target column.'''
    adult_census = pd.read_csv("../data/adult-census.csv")

    target_col = "class"
    
    raw_features = adult_census.drop(columns=target_col)
    numeric_features = raw_features.select_dtypes(np.number)
    feature_cols = numeric_features.columns.values

    features = adult_census[feature_cols]
    target = adult_census[target_col]
    
    return (features, target)

Let's test it!

In [16]:
f, t = get_features_and_target()
f.head()

   age  education-num  capital-gain  capital-loss  hours-per-week
0   25              7             0             0              40
1   38              9             0             0              50
2   28             12             0             0              40
3   44             10          7688             0              40
4   18             10             0             0              30

In [17]:
t.head()

0     <=50K
1     <=50K
2      >50K
3      >50K
4     <=50K
Name: class, dtype: object

Looks like it worked!!

In [18]:
def get_features_and_target():
    '''Split a CSV into a DF of numeric features and a target column.'''
    adult_census = pd.read_csv("../data/adult-census.csv")

    target_col = "class"
    
    raw_features = adult_census.drop(columns=target_col)
    numeric_features = raw_features.select_dtypes(np.number)
    feature_cols = numeric_features.columns.values

    features = adult_census[feature_cols]
    target = adult_census[target_col]
    
    return (features, target)

<div class="admonition note alert alert-info">
    <b><p class="first admonition-title" style="font-weight: bold;">Discussion</p></b>
    How would we apply this function to new data?
</div>

We can't! We didn't **parametrize** it.

## Parametrizing Functions

While functions are about reusing code, we rarely want to rerun *exactly* the same code.

Usually, there are a small number of things that should change from run to run. These are called **parameters**.

Common things that might be used parameters:
- threshold values
- filenames
- column names

In [18]:
def get_features_and_target():
    '''Split a CSV into a DF of numeric features and a target column.'''
    adult_census = pd.read_csv("../data/adult-census.csv")

    target_col = "class"
    
    raw_features = adult_census.drop(columns=target_col)
    numeric_features = raw_features.select_dtypes(np.number)
    feature_cols = numeric_features.columns.values

    features = adult_census[feature_cols]
    target = adult_census[target_col]
    
    return (features, target)

<div class="admonition note alert alert-info">
    <b><p class="first admonition-title" style="font-weight: bold;">Discussion</p></b>
    What should be the parameters of our <code>get_features_and_target</code> function?
</div>

In [20]:
def get_features_and_target(csv_file, target_col):
    '''Split a CSV into a DF of numeric features and a target column.'''
    
    adult_census = pd.read_csv(csv_file)
    
    raw_features = adult_census.drop(columns=target_col)
    numeric_features = raw_features.select_dtypes(np.number)
    feature_cols = numeric_features.columns.values

    features = adult_census[feature_cols]
    target = adult_census[target_col]
    
    return (features, target)

Now if we call our function without passing `csv_file` and `target_col`, we get an error:

In [22]:
f, t = get_features_and_target()

TypeError: get_features_and_target() missing 2 required positional arguments: 'csv_file' and 'target_col'

But we can still use it if we pass in those parameters:

In [23]:
# In Python, linebreaks and spaces inside parentheses are ignored.
f, t = get_features_and_target(
    csv_file='../data/adult-census.csv',
    target_col='class',
)

In [24]:
f.head()

   age  education-num  capital-gain  capital-loss  hours-per-week
0   25              7             0             0              40
1   38              9             0             0              50
2   28             12             0             0              40
3   44             10          7688             0              40
4   18             10             0             0              30

Now, imagine we want to build a model on the Ames data instead, using the "Sale_Price" column as our target...

In [25]:
ames_features, ames_target = get_features_and_target(
    csv_file='../data/ames.csv',
    target_col='Sale_Price',
)

In [26]:
ames_features.head()

,Lot_Frontage,Lot_Area,Year_Built,Year_Remod_Add,Mas_Vnr_Area,BsmtFin_SF_1,BsmtFin_SF_2,Bsmt_Unf_SF,Total_Bsmt_SF,First_Flr_SF,...,Open_Porch_SF,Enclosed_Porch,Three_season_porch,Screen_Porch,Pool_Area,Misc_Val,Mo_Sold,Year_Sold,Longitude,Latitude
0,141,31770,1960,1960,112,2,0,441,1080,1656,...,62,0,0,0,0,0,5,2010,-93.619754,42.054035
1,80,11622,1961,1961,0,6,144,270,882,896,...,0,0,0,120,0,0,6,2010,-93.619756,42.053014
2,81,14267,1958,1958,108,1,0,406,1329,1329,...,36,0,0,0,0,12500,6,2010,-93.619387,42.052659
3,93,11160,1968,1968,0,1,0,1045,2110,2110,...,0,0,0,0,0,0,4,2010,-93.617320,42.051245
4,74,13830,1997,1998,0,3,0,137,928,928,...,34,0,0,0,0,0,3,2010,-93.638933,42.060899

We've successfully **abstracted** some of our code logic, moving it to a separate function that we can use without having to think too much about how it works.

This is the foundation of building larger projects in Python.