# Review of Basic Python for Data Science



# Basic Data Types


- **integers** (`int`): Whole numbers, positive or negative or zero

  - e.g. `3`,&nbsp;&nbsp;`0`,&nbsp;&nbsp;`-531`


- **floats** (`float`): Decimal numbers

  - e.g. `3.14`,&nbsp;&nbsp;`0.0004`,&nbsp;&nbsp;`-878.482`


- **strings** (`str`): Arbitrary text

  - e.g. `"hello"`,&nbsp;&nbsp;`'my name is ethan'`,&nbsp;&nbsp;`""`


- **booleans** (`bool`): Logical values `True` and `False`

  - `True`,&nbsp;&nbsp;`False` -- that's it



# Container Types

- Python also has some objects that can "contain" others...



# Container Types

**lists** (`list`): Ordered, 1-dimensional sequences of objects

  - Elements may be different types of things.

In [4]:
my_list = ['a', 'b', 3, 84.51, False]

In [6]:
# Elements can be accessed by index (which counts from 0!):
my_list[1]

'b'

# Container Types


**dictionaries** (`dict`): Mappings from "keys" to "values", good for looking up entries by their key

In [2]:
my_dict = {
  'address': '123 Oak Street',
  'city': 'Chicago',
  'bedrooms': 2,
  'bathrooms': 1,
  'rent': 1599.99
}

In [3]:
# Values can be "looked up" by key
my_dict['bedrooms']

2



# Other Types

- There are many many more data types in Python that you may hear about, but these (along with DataFrames, covered next) are the ones we'll mostly be using.

- The general term for a Python "thing" (of any type) is an **object**.



# Pandas

- The Pandas package is the backbone of data analysis in Python

- Pandas is all about **DataFrames**, objects that store tabular data

  - The package was originally developed by financial analysts who wanted to do data analysis in Python, but needed an abstraction similar to DataFrames from the R language to do so.


- The funny name is short for **Pan**el **Da**ta

# DataFrames -- Basics

- DataFrames are tabular data
  - Think: DataFrames in R, tables in SQL, Datasets in SAS


- DataFrames have **column names** and **row indices**

- We'll use this DataFrame of planes for many of our examples in this section.

In [2]:
import pandas as pd
planes_df = pd.read_csv('../data/planes.csv')

In [3]:
planes_df.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan



# DataFrames -- Importing Data

- Easy to read in data from common formats (CSV, JSON, SQL databases)

- `pd.read_csv`, `pd.read_json`, `pd.read_excel`, `pd.read_sql` are several of the many options for importing data.

  - When reading from a flat file, just pass in the path to the file.

```python
df = pd.read_csv('data/my_data.csv')


df = pd.read_json('data/my_data.json')


df = pd.read_excel('data/my_spreadsheet.xlsx')


# SQL tables require first creating a connection to the database, which varies by type of DB
df = pd.read_sql('my_table', db_connection) 
```

- Other formats Pandas can read: parquet, fixed-width text, feather, Stata, SAS, pickle, HDF5

- Also can read from the web with **`pd.read_html`**



# DataFrames -- Inspecting Data

`df.head()` is usually the place to start -- returns the first 5 rows

In [4]:
planes_df.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

# DataFrames -- Inspecting Data

Other options...

In [5]:
planes_df.shape # Return (n_rows, n_columns)

(3322, 9)

In [6]:
planes_df.columns # Return column names

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')



# DataFrames -- Inspecting Data

`df.info()` gives a comprehensive overview, ideal when working interactively.

In [7]:
planes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tailnum       3322 non-null   object
 1   year          3252 non-null   float64
 2   type          3322 non-null   object
 3   manufacturer  3322 non-null   object
 4   model         3322 non-null   object
 5   engines       3322 non-null   int64
 6   seats         3322 non-null   int64
 7   speed         23 non-null     float64
 8   engine        3322 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 233.7+ KB



# DataFrames -- Exporting Data

- Pandas can save data in most of the formats it supports importing from.

- Instead of `pd.read_FILETYPE`, it's usually `df.to_FILETYPE`

```python
df.to_csv('data/my_data.csv')


df.to_json('data/my_data.json')


# Again, you need an existing database connection to work with SQL.
df.to_sql('my_table', db_connection)
```


- We'll probably mostly save data in CSVs in this course, for simplicity.



# Subsetting Data

- Before you do much else, you need to be able to get at pieces of a DataFrame that you're interested in.

- This usually means limiting to certain columns, to certain rows, or both at the same time.



# Selecting

- Subsetting data by its columns is often called **selecting**

  - You might say "select the name column from the data"

- The syntax to select a single column is `df[column_name]`

  - This returns a **series** object, a 1-dimensional Pandas object

  - Series are a lot like Python lists, except all the data in them is usually of the same type

# Selecting

In [9]:
planes_df['seats']

0        55
1       182
2       182
3       182
4        55
       ...
3317    100
3318    142
3319    100
3320    142
3321    142
Name: seats, Length: 3322, dtype: int64

- Remember, this isn't a DataFrame, it's a Series

  - One way to tell is the bottom line, which says the name of the column, the length (number of entries), and the type of the elements in it.



# Selecting

- Selecting multiple columns is done with double brackets

  - The inner brackets indicate to Pandas that you're passing a *list of columns*


- Using double brackets returns a **DataFrame**, not a Series
  
  - You can even use double brackets with a single column if you don't want a Series

In [10]:
planes_df[['seats', 'tailnum']]

      seats tailnum
0        55  N10156
1       182  N102UW
2       182  N103US
3       182  N104UW
4        55  N10575
...     ...     ...
3317    100  N997AT
3318    142  N997DL
3319    100  N998AT
3320    142  N998DL
3321    142  N999DN

[3322 rows x 2 columns]

`['seats', 'tailnum']` is actually a list we pass into `planes_df[]`, which is why we get a 2-dimensional object (a DataFrame) back.

In [11]:
columns = ['seats', 'tailnum']
planes_df[columns]

      seats tailnum
0        55  N10156
1       182  N102UW
2       182  N103US
3       182  N104UW
4        55  N10575
...     ...     ...
3317    100  N997AT
3318    142  N997DL
3319    100  N998AT
3320    142  N998DL
3321    142  N999DN

[3322 rows x 2 columns]



# Indexing

- "Indexing" is the word we use for subsetting rows based on their location or row label.

- Most things in Python index from 0.

  - That means an sequence with 3 elements would label them #0, #1, and #2.
  

- DataFrames have row indexes, as we've discussed before.

  - You can think of them as row labels.

  - By default, they're just integers from 0 to (number_of_rows - 1).

# Indexing

- Here, the indices are 0-4.

In [12]:
planes_df.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

# Indexing

- Indices can be selected using `df.loc` and brackets.

In [13]:
planes_df.loc[2]

tailnum                          N103US
year                             1999.0
type            Fixed wing multi engine
manufacturer           AIRBUS INDUSTRIE
model                          A320-214
engines                               2
seats                               182
speed                               NaN
engine                        Turbo-fan
Name: 2, dtype: object

- Like selecting a single column, indexing a single row returns a **Series**, not a DataFrame.

  - Because, again, it's a 1-dimensional object.



# Indexing

- DataFrames can also be indexed with a *range*, instead of a single row index.

- This uses the same `df.loc` syntax, except a range is passed
  
  - `df.loc[starting_index:ending_index]`

In [14]:
planes_df.loc[3:6]

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
5,N105UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
6,N107US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan

# Combining Selecting and Indexing

- You can select columns and index rows all at once using `df.loc[row_index, columns]`

In [15]:
# Row indices 3-6, columns "seats" and "tailnum"
planes_df.loc[3:6, ['seats', 'tailnum']]

   seats tailnum
3    182  N104UW
4     55  N10575
5    182  N105UW
6    182  N107US

# Combining Selecting and Indexing

| Goal | Syntax |
|:- |:- | 
| Select columns | `df[columns]` |
| Index rows | `df.loc[row_indices]` |
| Select columns *and* index rows | `df.loc[row_indices, columns]` |

# Filtering

- *Filtering* means limiting rows based on a condition of the data

  - e.g. "all rows where the number of engines is greater than 2"
  

- This is also done with `df.loc`, but you pass in an expression describing which rows to keep.

In [17]:
# This syntax is a little clunky; the DataFrame name is specified twice.
planes_df.loc[planes_df['engines'] > 2]

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
603,N281AT,NaN,Fixed wing multi engine,AIRBUS INDUSTRIE,A340-313,4,375,NaN,Turbo-jet
1037,N381AA,1956.0,Fixed wing multi engine,DOUGLAS,DC-7BF,4,102,232.0,Reciprocating
2109,N670US,1990.0,Fixed wing multi engine,BOEING,747-451,4,450,NaN,Turbo-jet
2706,N840MQ,1974.0,Fixed wing multi engine,CANADAIR LTD,CF-5D,4,2,NaN,Turbo-jet
2764,N854NW,2004.0,Fixed wing multi engine,AIRBUS,A330-223,3,379,NaN,Turbo-fan
2771,N856NW,2004.0,Fixed wing multi engine,AIRBUS,A330-223,3,379,NaN,Turbo-fan
2931,N905FJ,1986.0,Fixed wing multi engine,AVIONS MARCEL DASSAULT,MYSTERE FALCON 900,3,12,NaN,Turbo-fan

In [18]:
planes_df.loc[planes_df['seats'] == 139]

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
1813,N600TR,1979.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2131,N675MC,1975.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2402,N762NC,1976.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2432,N767NC,1977.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2472,N774NC,1978.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2483,N777NC,1979.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2492,N779NC,1979.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet
2503,N782NC,1980.0,Fixed wing multi engine,MCDONNELL DOUGLAS,DC-9-51,2,139,432.0,Turbo-jet



# Combining Selecting and Filtering

- Like indexing, filtering can be combined with selecting in the `.loc` brackets.

  - `df.loc[row_filter, columns]`

In [19]:
planes_df.loc[planes_df['seats'] == 139, ['seats', 'tailnum']]

      seats tailnum
1813    139  N600TR
2131    139  N675MC
2402    139  N762NC
2432    139  N767NC
2472    139  N774NC
2483    139  N777NC
2492    139  N779NC
2503    139  N782NC

# Combining Selecting and Filtering

So we can update our syntax chart...

| Goal | Syntax |
|:- |:- | 
| Select columns | `df[columns]` |
| Index rows | `df.loc[row_indices]` |
| Select columns *and* index rows | `df.loc[row_indices, columns]` |
| Filter rows | `df.loc[filter_condition]` |
| Select columns *and* filter rows | `df.loc[filter_condition, columns]` |

- Generally:

  - Columns: `df[columns]`

  - Rows: `df.loc[rows]`

  - Both: `df.loc[rows, columns]`



# DataFrame-level Summaries

- You can get quick summaries of all numeric columns in a DataFrame using `df.describe()`

In [20]:
planes_df.describe()

              year      engines        seats       speed
count  3252.000000  3322.000000  3322.000000   23.000000
mean   2000.484010     1.995184   154.316376  236.782609
std       7.193425     0.117593    73.654974  149.759794
min    1956.000000     1.000000     2.000000   90.000000
25%    1997.000000     2.000000   140.000000  107.500000
50%    2001.000000     2.000000   149.000000  162.000000
75%    2005.000000     2.000000   182.000000  432.000000
max    2013.000000     4.000000   450.000000  432.000000

- If you want summaries of string/categorical columns instead, use `df.describe(include='object')`

In [21]:
planes_df.describe(include='object')

       tailnum                     type manufacturer    model     engine
count     3322                     3322         3322     3322       3322
unique    3322                        3           35      127          6
top     N956AT  Fixed wing multi engine       BOEING  737-7H4  Turbo-fan
freq         1                     3292         1630      361       2750

# Column-level Summaries

- Series (remember, individual columns are Series objects) offer lots of summary options.

- Usually they're invoked as `df[column].SUMMARY()` and return a single, scalar value.



# Column-level Numeric Summaries

- `df[column].mean()`

- `df[column].max()`

- `df[column].min()`

- `df[column].quantile(q=0.5) # Median`

In [22]:
planes_df['year'].min()

1956.0



# Column-level Categorical Summaries

- `df[column].nunique() # Number of unique values`

- `df[column].value_counts() # Number of occurrences of each value, descending`

In [23]:
planes_df['engine'].nunique()

6

In [24]:
planes_df['type'].value_counts()

Fixed wing multi engine     3292
Fixed wing single engine      25
Rotorcraft                     5
Name: type, dtype: int64

- Note that `value_counts` is an exception to the rule -- it doesn't return a single number, but instead a *Series*.

## Questions